.help__flex {
    display: flex;
}

.flex-jc-ev {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-c {
    display: flex;
    align-items: center;
}



