.help__cont90{
   width: 90%;
   margin: 0 auto;
}

.help__cont80{
    width: 80%;
    margin: 0 auto;
}

.help__cont70{
    width: 70%;
    margin: 0 auto;
}

.help__fw-b{
font-weight: bold;
}

.center {
    text-align: center;
}

.help-w70 {
    width: 70%;
}

.help-w60 {
    width: 60%;
}

.help-w80 {
    width: 80%;
}

.help-w40 {
    width: 40%;
}

.help-w30 {
    width: 30%;
}
.help-w25 {
    width: 25%;
}

.help-w20 {
    width: 20%;
}

.help-center {
    text-align: center;
}